<!DOCTYPE html>
<html>
  <head>
    <script src="{{ url_for('static', filename='middle.js') }}"></script>
    <title>War Trade Beta</title>
  </head>
  <body>

    <table id="market" style="margin: auto;">
    <tr style="margin: auto;">
      <td>Деньги</td>
      <td><div id="money"></div></td>   

      <td>Дерево</td>
      <td><div id="wood"></div></td>   

      <td>Камень</td>
      <td><div id="rock"></div></td>   
    </tr> 
    </table>

    <div stule="margin-right: 10px;" id="gametime"></div>
  </body>
</html>
