<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='welcome.js') }}"></script>
    <title>War Trade Beta</title>
  </head>
  <body>

    <table id="market" style="margin: center;">
      <tr><input id="login" maxlength="10" size="30" placeholder="Логин"></tr>
      <tr><input id="password" type="password" maxlength="10" size="30" placeholder="Пароль"></tr>
      <tr><button id="send_login">Играть!</button></tr>   
      <tr><div id="ERROR"></div></tr>   
    </table>
  </body>
</html>
